body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-image: url('./assets/adrien-olichon-RCAhiGJsUUE-unsplash.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    filter: blur(5px); /* Apply blur effect to the background */
    position: absolute; /* Keeps it behind other content */
    top: 0;
    left: 0;
    z-index: -1; /* Sends the background behind the content */
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Optional overlay */
}
